.authmodal {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
    padding: 40px;

    &__title {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #EFEFEF;
        text-align: center;
    }

    &__under {
        background: transparent;
        border: none;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-decoration-line: underline;
        color: #EFEFEF;
        margin-top: 10px;
        cursor: pointer;
        transition: color .2s ease-in-out;

        &:hover {
            color: #bfbfbf;
        }
    }

    &__link {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 10%;
        color: #EFEFEF;
    }
}

.validation-error {
    color: rgb(255, 99, 99);
}