.ac {

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__textarea {
        height: 100%;
    }

    &__upload-area {
        width: 100%;
        height: 30vh;
        background: #313131;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__upload-text {
        color: #fff;
    }
}