@import '../../styles/breakpoints';

.galary {
    margin: 40px 0;
    width: 100%;
    columns: 3;
    column-gap: 15px;
    position: relative;

    &__img-container {
        width: 100%;
        height: 90%;
        margin-bottom: 15px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        cursor: pointer;

        &:hover::after {
            content: "Смотреть";
            position: absolute;
            z-index: 4;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(60, 60, 60, 0.66);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
        }
    }

    &__img {
        width: 100%;
    }
}

@media (max-width:$lg) {
    .galary {
        columns: 2;
    }
}

@media (max-width:$sm) {
    .galary {
        columns: 1;
    }
}