.blogitem {
    background: #1F1F1F;
    display: flex;
    gap: 30px;
    padding: 10px;

    &__preview {
        width: 300px;
        background: #000;
        aspect-ratio: 1 / 1.3;
        position: relative;

        &::before {
            content: 'Открыть пост';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(49, 49, 49, 0.79);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            text-transform: capitalize;
            color: #FFFFFF;
            cursor: pointer;
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__tools {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        text-transform: capitalize;
        color: #EFEFEF;
    }

    &__date {
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        text-transform: capitalize;
        color: #717171;
    }

    &__text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        color: #EFEFEF;
    }
}